.App {
  height: 100vh;
  margin: 0 auto;
}

.NavBar {
  width: 100%;
  border-bottom: 1px solid black;
}

.NavContent {
  width: 1200px;
  margin: 0 auto;
  height: 100px;
  display: flex;
  flex: 1;
  align-self: flex-start;
  justify-content: space-between;
  align-items: center;
}

.NavContent h1 {
  font-size: 36px;
}

.NavContent ul {
  display: flex;
  list-style: none;
}

.NavContent li {
  padding: 0 2rem;
  cursor: pointer;
  font-size: 24px;
}

.NavContent li:last-child {
  padding-right: 0;
}

.Content {
  border-left: 1px solid black;
  border-right: 1px solid black;
  width: 1200px;
  margin: 0 auto;
  height: 90vh;
  display: flex;
}

.SideBar {
  width: 300px;
  padding: 20px;
  border-right: 1px solid black;
}

.List ul {
  list-style: none;
  padding: 1rem 0;
}

.List li {
  font-size: 24px;
  padding: 0.5rem 0;
}

.Tags {
  margin-top: 3rem;
}

.Tags ul {
  list-style: none;
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
}

.Tags li {
  padding: 1rem 2rem;
  margin: 1rem 1rem 1rem 0rem;
  font-size: 24px;
  background-color: black;
  color: white;
  text-align: center;
}

.MainContent {
  width: 900px;
  padding: 20px;
}

.TextItem p {
  padding: 1rem 0;
  line-height: 30px;
  font-size: 24px;
}

.TextItem a {
  color: black;
}

hr {
  margin: 1rem 0 2rem 0;
  border-top: 1px solid #000;
}